<div class="form-container">
  <button (click)="goToCreateComponent()">Create a new Hero</button>
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center" ng-controller="getAll()">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="delete(hero)">
      Yes
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      No
    </button>
  </div>
</ng-template>

<ng-template #adviceModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Hero</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">There is no hero with this name.</div>
</ng-template>

<ng-template #compareModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Hero</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">There is no hero with this name.</div>
</ng-template>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Race</th>
      <th scope="col">Strength</th>
      <th scope="col">Agility</th>
      <th scope="col">Dexterity</th>
      <th scope="col">Intelligence</th>
      <th>
        <button [disabled]="selectedHeroes.length < 2" id="compare-btn" (click)="goToCompareComponent(selectedHeroes)">
          Compare selected heroes
        </button>
      </th>
    </tr>
  </thead>
  <tbody *ngFor="let hero of heroes">
    <tr>
      <td> {{ hero.name }} </td>
      <td> {{ hero.race }} </td>
      <td> {{ hero.strength }} </td>
      <td> {{ hero.agility }} </td>
      <td> {{ hero.dexterity }} </td>
      <td> {{ hero.intelligence }} </td>
      <td>
        <div class="buttons">
          <label>
            <input [disabled]="selectedHeroes.length === 2 && !selectedHeroes.includes(hero)" type="checkbox" (change)="toggleHeroSelection(hero)" [checked]="selectedHeroes.includes(hero)">
          </label>
          <button id="edit-btn" (click)="goToEditComponent(hero)">Edit</button>
          <button id="delete-btn" (click)="openConfirmation(deleteModal, hero)">
            Delete
          </button>
        </div>
      </td>
    </tr>
</table>